.DS_Store
.*.swp
config/settings.php
install/install.sh
files/*
files/*/
node_modules
themes/*/node_modules
themes/*/node_modules/*
themes/minbyun/script/script.js
themes/minbyun/css/style.css
app/admin/dev/node_modules/
app/admin/script/script.js
app/admin/css/style.css
contribute/elasticsearch/vendor
contribute/elasticsearch/vendor/*
contribute/*/vendor
contribute/*/vendor/*
*.lock
npm-debug.log
