[submodule "xe"]
	path = xe
	url = https://github.com/xpressengine/xe-core.git
[submodule "contribute/magic-min"]
	path = contribute/magic-min
	url = https://github.com/bennettstone/magic-min.git
[submodule "contribute/pdfparser"]
	path = contribute/pdfparser
	url = https://github.com/smalot/pdfparser.git
[submodule "contribute/PHPMailer"]
	path = contribute/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
