RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ - [QSA,L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ - [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,QSA]
