/*--- index --------------------------------------------
.docform
.docform .form
.docform .form .form__inner-table
.docform .srchselect
--------------------------------------------------------*/

.docform {
	margin: 5% 0;
	h1 {
		color: @accent-font-color;
		text-align: center;
		margin: 0;
	}
	h1 + .docform__form-wrap {
		margin-top: 5%;
	}
	h2 {
		font-weight: @font-bold;
		font-size: 1.25em;
	}
	.docform__form-wrap {
		margin-left: auto; margin-right: auto;
		width: 100%;
		max-width: 39em;
		@media screen and (max-width: @s-medium-screen) {
			max-width: 500px;
		}
	}
	.table-margin {
		width: 1em;
	}
	.docform__field-footer {
		margin-top: 0.5em;
		line-height: 1.3em;
		color: lighten(@font-color, 12%);
	}
	.docform__field-footer div + div {
		margin-top: 0.5em;
	}
	.searchinput {
		width: 100%;
	}
	.searchinput .item {
		outline: none;
	}
	.searchinput .item:focus {
		background-color: @focus-color-2;
	}
	.form__submit + .docform__view-doc,
	.form__saving + .docform__view-doc {
		margin-left: 5%;
	}
	.docform__view-doc {
		display: inline-block;
		width: 40%;
		border-style: solid;
		border-width: 1px;
		border-color: @main-color;
		background-color: @minor-color-2;
		color: @main-color;
		line-height: 1.5em;
		padding: 0.75em 0;
		text-align: center;
		cursor: pointer;
		&:focus {
			background-color: @focus-color-1;
		}
		@media screen and (max-width: @s-medium-screen) {
			width: 47.5%;
		}
	}
	&.docform--new .form .form__submit,
	&.docform--new .form .form__saving {
		width: 70%;
		@media screen and (max-width: @s-medium-screen) {
			width: 100%;
		}
	}
	.textarea__text-input {
		background-color: @minor-color-2;
		border: solid 1px @main-color;
		padding: 0.9em 0.5em;
		min-height: 5em;
	}
	.form__slug-content .textarea__text-input {
		min-height: 8em;
	}
	.scroll-box > .scroll-box__track > .scroll-box__handle {
		background: transparent;
	}
}
.docform .form {
	width: 100%;
	& > tbody > tr > td.form__col0 {
		text-align: right;
		padding-right: 2em;
		min-width: 8em;
		vertical-align: top;
	}
	& > tbody > tr > td.form__col0 span {
		position: relative;
		top: 1em;
	}
	& > tbody > tr > td,
	& > tbody > tr > td > div.form__col0 {
		padding-bottom: 1em;
	}
	.field-content input {
		width: 100%;
		height: 3em;
	}
	.field-content .dateform__year {
		width: 5em;
	}
	.field-content .dateform__year + span {
		margin-left: 1em;
	}
	.field-content .dateform__year + span + .dateform__month {
		margin-left: 1em;
	}
	.field-content .dateform__month {
		width: 4em;
	}
	.field-content .dateform__month + span {
		margin-left: 1em;
	}
	.field-content .check {
		line-height: 3em;
	}
	.field-body {
		position: relative;
		height: 100%;
	}
	.field-body + .field-body {
		margin-top: 0.5em;
	}
	.field-body__content {
		margin-right: 4.5em;
	}
	.field-body__content .fileinput {
		width: 100%;
	}
	.field-body__buttons {
		position: absolute;
		top: 0; right: 0;
		line-height: 3em;
	}
	.field-body__buttons button {
		border: 0;
		color: @main-color;
		background-color: transparent;
		i {font-size: 2em;}
		&:focus {border-bottom: dotted 1px @main-color}
	}
	.form__submit-wrap td {
		padding-top: 10%;
		text-align: center;
	}
	.form__submit, .form__saving {
		display: inline-block;
		width: 40%;
		border-style: solid;
		border-width: 1px;
		border-color: @main-color;
		background-color: @main-color;
		color: @minor-color-2;
		line-height: 1.5em;
		padding: 0.75em 0;
		text-align: center;
		@media screen and (max-width: @s-medium-screen) {
			width: 47.5%;
		}
	}
	.form__submit {
		cursor: pointer;
		&:focus {
			background-color: @focus-color-2;
		}
	}
	.form__saving {
		position: relative;
	}
	.form__saving-icon {
		position: absolute;
		top: 0.75em; right: 1.5em;
	}
	.form__saving-icon i {
		font-size: 1.5em;
	}
}
.docform .form .form__inner-table {
	width: 100%;
	td {
		border-style: solid;
		border-color: @main-color;
		border-width: 1px;
	}
	td.form__col0 {
		text-align: center;
		background-color: @minor-color-2;
		width: 6em;
	}
	td.form__col1 {
		border-left-width: 0;
	}
	input, .textarea__text-input {
		border: 0;
	}
}
.docform .srchselect {
	width: 100%;
	.srchselect__head {
		display: block;
		width: auto !important;
		margin-right: 2em;
	}
	.srchselect__arrow {
		position: absolute;
		top: 0; right: 0;
		line-height: 3em;
	}
	.item {
		color: @minor-color-2;
		background-color: @main-color;
		&:focus, &:hover {
			background-color: @focus-color-2;
		}
	}
}
