@label-width: 9.4em;

.document {
	margin-top: 5%;
	padding: 1em;
	.document__back{
		color: @main-color;
		i {
			font-size: 1.3em
		}
		margin-bottom: 1em;
		cursor: pointer;
	}
	.document__wrap {
		background-color: @minor-color-2;
		padding: 3em;
		@media screen and (max-width: @medium-screen){
			padding: 2em;
		}
		@media screen and (max-width: @s-medium-screen){
			padding: 1em;
		}
	}
	.document__header {
		overflow: hidden;
	}
	.document__image {
		float: left;
		width: 30%;
		max-width: 15em;
		min-width: 10em;
		padding: 0 3em 3em 0;
		background-color: @minor-color-2;
		img, span {
			display: block;
			width: 100%;
		}
		span {
			padding-bottom: 150%;
		}
		@media screen and (max-width: @medium-screen){
			padding: 0 2em 2em 0;
		}
		@media screen and (max-width: @s-medium-screen){
			padding: 0 1em 1em 0;
		}
	}
	.document__header > .document__column {
		//margin-left: 18em;
		/*
		@media screen and (max-width: @medium-screen){
			margin-left: 34vw;
		}
		@media screen and (max-width: @s-medium-screen){
			margin-left: 11em;
		}
		@media screen and (max-width: @small-m-screen){
			margin-left: 0;
		}
		*/
	}
	h1 {
		margin: 0;
		font-size: 2.5em;
		padding-bottom: 0.5em;
		color: @main-color;
		border-bottom: solid 2px @main-color;
	}
	.document__buttons {
		display: inline-block;
		margin: 2em 0;
		@media screen and (max-width: @s-medium-screen){
			margin: 1em 0;
		}

		& > div + a, & > a + div {
			margin-left: 1em;
		}
		a, a:visited, a:link, a:hover, a:active {
			color: @main-color;
			text-decoration: none;
		}
		a {
			display: inline-block;
			line-height: 2em;
			padding: 0 1em;
			border: solid 1px @main-color;
		}
		button {
			line-height: 2em;
			padding: 0 1em;
			cursor: pointer;
		}
		.document__bookmark {
			display: inline-block;
		}
		.document__bookmark i {
			font-size: 2em;
			color: @main-color;
		}
		.document__bookmark i + button {
			margin-left: 0.5em;
		}
		.document__bookmark button {
			color: @minor-color-2;
			background-color: @main-color;
		}
		.document__remove-bookmark button {
			color: @main-color;
			background-color: @minor-color-2;
		}
		.document__delete {
			display: inline-block;;
		}
		.document__delete button {
			background-color: @minor-color-2;
			color: @main-color;
		}
		.document__delete--yes-or-no button:first-child {
			background-color: @main-color;
			color: @minor-color-2;
		}
	}
	.document__contents {
		margin-top: 3em;
		max-width: 37.5em;
		@media screen and (max-width: @s-medium-screen){
			margin-top: 1em;
		}
		.table__col span {
			line-height: 1.5em;
		}
		& > .table__row {
			padding: 0.5em 0;
		}
		& > .table__row + .table__row {
			margin-top: 1em;
			@media screen and (max-width: @s-medium-screen){
				margin-top: 0;
			}
		}
		& > .table__row > .table__col {
			//line-height: 2em;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
		& > .table__row > .table__col:first-child {
			width: @label-width;
			padding-right: 2em;
			text-align: right;
			font-weight: @font-bold;
			@media screen and (max-width: @small-m-screen) {
				float: none;
				text-align: left;
				width: auto;
				padding-right: 0;
			}
		}
		& > .table__row > .table__col + .table__col {
			margin-left: @label-width;
			@media screen and (max-width: @small-m-screen) {
				margin-left: 0;
			}
		}
		.inner-table {
			border-top: solid 1px @main-color;
		}
		.inner-table .table__row {
			border-bottom: solid 1px @main-color;
		}
		.inner-table .table__col {
			//line-height: 2.5em;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
		.inner-table .table__col:first-child {
			width: 6em;
			padding-right: 1em;
			text-align: right;
			font-weight: @font-bold;
			@media screen and (max-width: @small-m-screen){
				width: 5em;
			}
		}
		.inner-table .table__col + .table__col{
			margin-left: 6em;
			padding-left: 1em;
			border-left: solid 1px @main-color;
			@media screen and (max-width: @small-m-screen){
				margin-left: 5em;
			}
		}
	}
}
.file-text-editor {
	position: fixed;
	z-index: 2;
	top: 50%; left: 50%;
	width: 100%; height: 100%;
	transform: translate(-50%, -50%);
	padding: 1em;
	background-color: @minor-color-2;
	border: solid 1px @main-color;

	&:not(.file-text-editor__full-screen){
		max-width: 43.8em; max-height: 37.5em;
	}
	.file-text-editor__header {
		margin-bottom: 2em;
	}
	.file-text-editor__filename span {
		font-size: 1.2em;
		font-weight: 700;
		color: @main-color;
	}
	.file-text-editor__filename + .file-text-editor__filemeta {
		margin-top: 1em;
	}
	.file-text-editor__filemeta {
		padding-left: 1em;
	}
	.file-text-editor__filemeta span {
		font-size: 0.8em;
	}
	textarea {
		width: 100%;
		padding: 0;
		border: 0;
		resize: none;
		line-height: 1.5em;
	}
	.file-text-editor__buttons {
		position: relative;
		margin-top: 1em;
		text-align: right;
	}
	button {
		padding: 0.5em 1em;
		background-color: @main-color;
		color: @minor-color-2;
		border: solid 1px @main-color;
	}
	button.reverse-color {
		background-color: @minor-color-2;
		color: @main-color;
	}
	button:first-child {
		position: absolute;
		top: 0; left: 0;
	}
	button + button {
		margin-left: 1em;
	}
}

.imagewrap {
	img {
		width: 100%;
		display: block;
	}
}
