.error {
	width: 100%;
	max-width: 600px;
	margin: 10% auto 5% auto;
	padding: 1em;
	h3 {
		color: @main-color;
		text-align: center;
		font-weight: @font-bold;
	}
	h3 + p {
		margin-top: 1em;
	}
	p {
		border: solid 1px @main-color;
		background-color: @minor-color-2;
		padding: 1em;
	}
}
