@user-menu-width: 13em;
@user-menu-width-in-medium-screen: 3em;
@user-profile-col-width: 8em;
@sm-user-profile-col-width: 5em;
@bookmarks-col-width: 8em;
@history-col-width: 8em;

.user {
	margin: 10% 1em;
	@media screen and (max-width: @s-medium-screen){
		margin: 1em 1em;
	}
}
.user__menu {
	float: left;
	width: @user-menu-width;
	@media screen and (max-width: @medium-screen){
		width: @user-menu-width-in-medium-screen;
	}
	@media screen and (max-width: @s-medium-screen){
		float: none;
		width: auto;
		margin-bottom: 1em;
	}

	li {
		background-color: @minor-color-2;
		@media screen and (max-width: @medium-screen){
			border: solid 1px @main-color;
		}
		@media screen and (max-width: @s-medium-screen){
			display: inline-block;
			width: 3em;
		}
	}
	li.user__selected {
		background-color: @main-color;
		color: @minor-color-2;
	}
	li + li {
		margin-top: 0.5em;
		@media screen and (max-width: @medium-screen){
			margin-top: 0;
			border-top: 0;
		}
		@media screen and (max-width: @s-medium-screen){
			border-top: solid 1px @main-color;
			border-left: 0;
		}
		/*
		@media screen and (max-width: @s-medium-screen){
			margin-top: 0;
			margin-left: 0.5em;
		}
		*/
	}
	a, a:visited, a:link, a:hover, a:active {
		color: inherit;
		text-decoration: none;
	}
	a {
		position: relative;
		display: block;
		padding: 0 1em;
		line-height: 3em;
		@media screen and (max-width: @medium-screen){
			padding: 0;
			text-align: center;
		}
	}
	a i {
		font-size: 2em;
		width: 1em;
	}
	a > i {
		margin-right: 0.5em;
		@media screen and (max-width: @medium-screen){
			margin-right: 0;
		}
	}
	a > span + span {
		position: absolute;
		top: 0; right: 0;
	}
	span > i {
		font-weight: bold;
		color: transparent;
	}
	a > span {
		@media screen and (max-width: @medium-screen){
			display: none;
		}
	}
	li.user__selected span > i {
		color: @minor-color-2;
	}
}
.user__content {
	margin-left: @user-menu-width;
	padding-left: 1.5em;
	@media screen and (max-width: @medium-screen){
		margin-left: @user-menu-width-in-medium-screen;
		padding-left: 1em;
	}
	@media screen and (max-width: @s-medium-screen){
		margin-left: 0;
		padding-left: 0;
	}
}
/*
.user-profile {
	background-color: @minor-color-2;
	padding: 5%;
	@media screen and (max-width: @small-screen){
		padding: 0;
		border: solid @main-color;
		border-width: 0 1px;
	}
	.table__col {
		line-height: 3em;
		border-style: solid;
		border-color: @main-color;
	}
	.table__col:first-child {
		width: @user-profile-col-width;
		padding: 0 0.5em;
		text-align: center;
		border-width: 0 1px 1px 0;
		@media screen and (max-width: @s-medium-screen){
			width: @sm-user-profile-col-width;
		}
	}
	.table__col + .table__col {
		margin-left: @user-profile-col-width;
		padding: 0 1em;
		border-width: 0 0 1px 0;
		@media screen and (max-width: @s-medium-screen){
			margin-left: @sm-user-profile-col-width;
		}
	}
	.table__row:first-child .table__col {
		border-top-width: 1px;
	}
}
*/
