/*--- index --------------------------------------------
.user-profile
.user-profile .form
.user-profile .form__submit-wrap .check
.user-profile .select
--------------------------------------------------------*/

.user-profile {
	background-color: @minor-color-2;
	padding: 2em;
	@media screen and (max-width: @small-m-screen){
		padding: 1em;
	}
	@media screen and (max-width: @small-screen){
		padding: 0;
		background-color: transparent;
	}
	.user-profile__form-wrap {
		width: 100%;
	}
	.user-profile__table-margin {
		width: 0;
	}
	.form__menu {
		padding-bottom: 5%;
	}
	.form__menu a {
		display: inline-block;
		padding: 0.5em;
		border: solid 1px @main-color;
		background-color: @minor-color-2;
		margin-bottom: 1.5em;
		color: @main-color;
		cursor: pointer;
	}
	.form__menu a + a {
		border-left: 0;
	}
	.form__menu a.form__menu-item--selected {
		color: @minor-color-2;
		background-color: @main-color;
		cursor: auto;
	}
}
.user-profile .form {
	width: 100%;
	.form__col0, .form__col1 {
		border-bottom: solid 1px @main-color;
		@media screen and (max-width: @small-screen){
			border: solid 1px @main-color;
			border-top: 0;
			background-color: @minor-color-2;
		}
	}
	.form__role .form__col1 {
		line-height: 1.2em;
		padding: 0.9em 0.5em;
		background-color: @minor-color-1;
	}
	.form__col0 {
		border-right: solid 1px @main-color;
		text-align: center;
		@media screen and (max-width: @small-screen){
			padding: 0.2em;
		}
	}
	.form__field:nth-child(2) td {
		border-top: solid 1px @main-color;
	}
	.form__slug-committee .field-content {
		min-height: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	.field-content input {
		width: 100%;
		height: 3em;
		border: 0;
	}
	.field-body {
		position: relative;
		height: 100%;
	}
	.field-body .field-body__buttons {
		position: absolute;
		top: 0; right: 0;
		line-height: 2em;
	}
	.field-body .field-body__buttons button {
		border: 0;
		color: @main-color;
		background-color: transparent;
		i {font-size: 2em;}
		&:focus {border-bottom: dotted 1px @main-color}
	}
	.form__submit-wrap td {
		padding-top: 7%;
		text-align: left;
	}
	.form__submit, .form__saving {
		display: inline-block;
		border-style: solid;
		border-width: 1px;
		border-color: @main-color;
		background-color: @main-color;
		color: @minor-color-2;
		line-height: 2.5em;
		width: 8em;
		text-align: center;
		@media screen and (max-width: @small-screen){
			width: 100%;
		}
	}
	.check + .form__submit, .check + .form__saving {
		margin-left: 1em;
	}
	.form__submit {
		cursor: pointer;
		&:focus {
			background-color: @focus-color-2;
		}
	}
	.form__submit-wrap p {
		margin-top: 0.5em;
		text-align: left;
	}
	.form__saving {
		position: relative;
	}
	.form__saving-icon {
		position: absolute;
		top: 0; right: 0.5em;
	}
	.form__saving-icon i {
		font-size: 1.5em;
	}
	.form__required .form__col0 span {
		color: @main-color;
	}
	.form__required .form__col0:after {
		content: '(필수)';
		display: block;
		font-size: 0.7em;
		@media screen and (max-width: @small-screen){
			display: inline;
			margin-left: 0;
		}
	}
	.form__required.form__slug-password .form__col0 span,
	.form__required.form__slug-confirmPw .form__col0 span {
		color: @font-color;
	}
	.form__required.form__slug-password .form__col0:after,
	.form__required.form__slug-confirmPw .form__col0:after {
		content: none;
	}
}
.user-profile .form__submit-wrap .check {
	display: inline-block;
	.item {
		line-height: 2.5em;
		color: @minor-color-2;
		background-color: @main-color;
		padding: 0 1em 0 0.3em;
		border: solid 1px @main-color;
	}
	.item:focus {
		border: solid 1px @main-color;
		background-color: @focus-color-2;
	}
	.item__checkicon {
		color: @minor-color-2;
	}
	.item__uncheckicon {
		color: lighten(@main-color, 8%);
	}
}
.user-profile .select {
	line-height: 2em;
	.dropdown__headwrap, .dropdown__items {
		border: 0;
		background-color: transparent;
	}
	.dropdown__items {
		border: 0;
		background-color: @focus-color-1;
	}
	.dropdown__headwrap {
		border-color: transparent;
	}
	&.dropdown--unfolded .dropdown__items {
		top: -1px;
	}
	.dropdown__head:focus {
		background-color: lighten(@main-color, 18%);
	}
	.ddarrow i {
		font-size: 2em;
		color: @main-color;
	}
	.ddhead, .item {
		text-align: left;
		padding-right: 2em;
	}
	.item {
		line-height: 2em;
		cursor: pointer;
		&:focus, &:hover {
			color: @minor-color-2;
			background-color: @main-color;
		}
	}
}
