.digital-library__header {
	position: relative;
	border-bottom: solid 2px #989cff;
	background-color: #ffffff;
}
.digital-library__logo {
	display: inline-block;
	height: 55px;
	img {
		margin: 5px 0 0 10px;
	}
}
.digital-library__menu {
	position: absolute;
	top: 0; right: 0;
	&:after {
		content: ''; display: block; clear: both;
	}
	a {
		display: inline-block;
		line-height: 55px;
		padding: 0 1.5em;

	}
	a:visited, a:link, a:hover, a:active {
		color: #808080;
		text-decoration: none;
	}
	a:first-child, a + a {
		border-left: solid 2px #989cff
	}
}
.digital-library__content {
	max-width: 900px;
	margin: 0 auto;
}
