@import "variables";

.digital-library__header {
	position: relative;
	border-bottom: solid 2px @main-color;
	background-color: @minor-color-2;
	line-height: 3.3em;
}
.digital-library__logo {
	display: block;
	float: left;
	height: 3.3em;
	padding: 0.3em;
	img {
		height: 100%;
	}
}
.digital-library__menu {
	position: absolute;
	top: 0; right: 0;
	width: @main-menu-width;
	height: 100%;
	text-align: right;
	a {
		display: inline-block;
		line-height: 3.3em;
		padding: 0 1.5em;
		cursor: pointer;

	}
	a:visited, a:link, a:hover, a:active {
		color: #808080;
		text-decoration: none;
	}
	a + a {
		border-left: solid 2px @main-color;
	}
}
.digital-library__menu .dropdown {
	.dropdown__headwrap {
		border: solid 2px @main-color;
		border-top: 0;
		border-bottom: 0;
	}
	.dropdown__items {
		background-color: @minor-color-2;
		border: solid 2px @main-color;
		text-align: left;
	}
	.dditem {
		line-height: 2.5em;
	}
}
.digital-library__content {
	max-width: 900px;
	margin: 0 auto;
}
