@import "variables";

.doclist-item {
	background-color: @minor-color-2;
	overflow: hidden;
	.doclist-item__header {
		padding-bottom: 1em;
	}
	.doclist-item__header span:first-child {
		margin-right: 0.5em;
	}
	.doclist-item__title {
		font-size: 1.5em;
		font-weight: @font-bold;
		line-height: 1.3em;
	}
	a, a:visited, a:link, a:hover, a:active {
		color: @main-color;
		text-decoration: none;
	}
	.doclist-item__side {
		float: left;
		width: 13em;
		padding: 1em;
		margin: 0 1em 1em 0;
		line-height: 1.5em;
		background-color: @main-color * 1.5;
	}
	.doclist-item__side span:first-child {
		font-weight: @font-bold;
	}
	.doclist-item__content p {
		min-height: 8em;
		line-height: 1.5em;
		text-align: justify;
	}
}

.userdocs {
	.userdocs__doclist {
		background-color: @minor-color-2;
		padding: 5%;
	}
	.doclist-item + .doclist-item {
		margin-top: 2em;
	}
	.pagination {
		margin-top: 3%;
	}
}

.search-result {
	@number-width: 4em;

	max-width: 800px;
	margin: 10% auto;

	.search-result__item + .search-result__item {
		margin-top: 3em;
	}
	.search-result__number {
		float: left;
		width: @number-width;
		text-align: right;
	}
	.search-result__number span {
		font-size: 3em;
	}
	.search-result__number + div {
		margin-left: @number-width + 1em;
		padding: 3%;
		background-color: @minor-color-2;
	}
	.doclist-item {
		padding: 1em;
	}
	.doclist-item + .doclist-item {
		margin-top: 2em;
	}
	.pagination {
		margin-top: 3%;
	}
}

.doclisthead {
	.doctype-li {
		display: inline-block;
		border: solid 1px @main-color;
		padding: 0.5em;
		cursor: pointer;
	}
	.doctype-li--checked {
		background-color: @main-color;
		color: @minor-color-2;
	}
	.doctype-li + .doctype-li {
		margin-left: 5px;
	}
}
