@import "variables";

.document-form {
	max-width: 38em;
	margin: 3em auto;
	h1 {
		margin: 0 0 1em 0;
		text-align: center;
		color: @accent-font-color;
	}
	h2 {
		font-size: 1.25em;
		margin: 1em 0;
	}
	h2.document-form__accented_title {
		color: #c2000b;
	}
	input[type=text] {
		width: 100%;
	}
	textarea {
		width: 100%;
		height: 11em;
		padding: 0.5em;
	}
	.select {
		min-width: 50%;
	}
	.radio {
		line-height: 3em;
	}
	.radio i {
		font-size: 1.5em;
	}
	.rditem__check {
		color: @main-color;
	}
	.rditem__check, .rditem__uncheck {
		width: 1.5em;
	}
	.document-form__input-with-buttons {
		position: relative;
	}
	.document-form__middle {
		margin-right: 6.25em;
		margin-bottom: 0.5em;
	}
	.document-form__middle > * {
		width: 100%;
	}
	.document-from__buttons {
		position: absolute;
		top: 0; right: 0;
	}
	.document-from__buttons button {
		float: left;
		height: 1em;
		font-size: 3em;
		background-color: transparent;
		color: @main-color;
		border: 0;
		padding: 0;
		cursor: pointer;
	}
	.radio-wrap {
		line-height: 3em;
	}
	.radio-wrap label + label {
		margin-left: 1em;
	}
	.searchinput {
		width: 100%;
	}
	& > .table > .table__row {
		padding: 0.5em 0;
	}
	& > .table > .table__row > .table__col:first-child {
		width: 9em;
		line-height: 1.2em;
		padding-top: 0.9em;
		padding-bottom: 0.9em;
		padding-right: 1em;
		text-align: right;
	}
	& > .table > .table__row > .table__col {
		min-height: 3em;
	}
	& > .table > .table__row > .table__col:last-child {
		margin-left: 10em;
	}
	.inner-table {
		border: solid 1px @main-color;
		border-width: 1px 0 0 1px;
	}
	.inner-table .table__col {
		border: solid 1px @main-color;
		border-width: 0 1px 1px 0;
	}
	.inner-table input[type=text] {
		border: 0;
	}
	.inner-table .table__col:first-child {
		width: 5em;
		line-height: 3em;
		background-color: @minor-color-2;
		text-align: center;
	}
	.inner-table .table__col:last-child{
		margin-left: 5em;
	}
	button.document-form--submit {
		line-height: 3em;
		width: 100%;
		color: @minor-color-2;
		background-color: @main-color;
		border: 0;
		padding: 0 0.5em;
		cursor: pointer;
		margin-top: 2em;
	}
}
