.searchbar {
	&:not(.searchbar--content){
		position: absolute;
		left: 130px; top: 0;
	}
	&.searchbar--content {

	}
}
.doctype-select {
	display: inline-block;
	background-color: #ffffff;
	.doctype-select__header {
		border: solid 2px #989cff;
		line-height: 3em;
		padding: 0 1em;
	}
	.doctype-select__header i {
		font-size: 2em;
	}
}
