@import "variables";

*, *:before, *:after {
	box-sizing: border-box;
}
body, html {
	font-family:'Nanum Barun Gothic';
	font-size: @font-size;
	font-weight: @font-normal;
	color: @font-color;
	background-color: @minor-color-1;
	margin: 0;
}
input[type=text], input[type=password], textarea, button {
	font-family:'Nanum Barun Gothic';
	font-size: @font-size;
	color: @font-color;
	border: solid 1px @main-color;
	padding: 0 0.5em;
	outline: none;
}
input[type=text], input[type=password] {
	line-height: 1.2em;
	padding-top: 0.9em;
	padding-bottom: 0.9em;
}
input::placeholder {
	color: @font-color*1.7;
}
input[type=text], input[type=password], button, textarea {
	appearance: none;
	border-radius: 0;
	box-shadow: none;
}
button {
	padding: 0;
	cursor: pointer;
}
button:focus {
	text-decoration: underline;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li {
	padding: 0;
	list-style-type: none;
}
p {
	margin: 0
}
p + p {
	margin-top: 1em;
}
a, a:visited, a:link, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}
.select.dropdown {
	.dropdown__headwrap {
		border: solid 1px @main-color;
		border-bottom: 0;
	}
	.ddhead {
		background-color: @minor-color-2;
		text-align: left;
		padding-left: 1em;
		line-height: 3em;
	}
	.ddarrow i {
		color: @main-color;
		font-weight: bold;
		font-size: 2em;
		width: 1em;
	}
	.dropdown__items {
		background-color: @minor-color-2;
		border: solid 1px @main-color;
		text-align: left;
	}
	&:not(.dropwdown--unfolded) .dropdown__items {
		border-bottom: solid 1px @main-color !important;
	}
	.dditem {
		padding-right: 3em;
		line-height: 2.5em;
		cursor: pointer;
	}
}
.processing {
	i {
		position: fixed;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		color: @main-color;
	}
}
