@import "variables";

*, *:before, *:after {
	box-sizing: border-box;
}
body, html {
	font-family:'Nanum Barun Gothic';
	font-size: @font-size;
	font-weight: @font-normal;
	color: @font-color;
	background-color: @minor-color-1;
	margin: 0;
}
input[type=text], input[type=password], select, textarea, button {
	font-family:'Nanum Barun Gothic';
	font-size: @font-size;
	color: @font-color;
	border: solid 1px @main-color;
	padding: 0 0.5em;
	outline: none;
}
input[type=text], input[type=password] {
	line-height: 1.2em;
	padding-top: 0.9em;
	padding-bottom: 0.9em;
}
input[type=text], input[type=password], button {
	appearance: none;
}
select {
	height: 3em;
}
button {
	cursor: pointer;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li {
	padding: 0;
	list-style-type: none;
}
p {
	margin: 0
}
p + p {
	margin-top: 1em;
}
a, a:visited, a:link, a:hover, a:active {
	text-decoration: none;
}
.textarea {
	textarea {
		line-height: 1.5em;
	}
	.textarea__footer {
		position: relative;
	}
	.textarea__num-of-words {
		position: absolute;
		top: 0; right: 0;
	}
}

.textinput {
	width: 100%;
}

.dateform {
	display: inline-block;
	input[type=text].dateform__year {
		width: 5em;
		margin-right: 1em;
	}
	.dateform__year + span {
		margin-right: 1em;
	}
	input[type=text].dateform_month {
		width: 4em;
		margin-right: 1em;
	}
}

.searchinput {
	display: inline-block;
	.searchinput__result {
		position: relative;
		width: 100%;
	}
	ul {
		position: absolute;
		z-index: 10;
		top: 0; left: 0;
		width: 100%;
		margin: 0;
		list-style-type: none;
		padding: 0.5em;
		background-color: @main-color;
		color: @minor-color-2;
	}
	li {
		padding: 0;
		list-style-type: none;
		cursor: pointer;
	}
	li + li {
		margin-top: 0.5em;
	}
	li span {
		display: inline-block;
	}
	.searchinput__col-0 {
		width: 4em;
	}
}

.processing {
	i {
		position: fixed;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		color: @main-color;
	}
}

.imagewrap {
	img {
		width: 100%;
		display: block;
	}
}
