@main-color: #989cff;
@accent-color: #ffff00;
@minor-color-1: #f2f2f2;
@minor-color-2: #ffffff;
@font-color: #808080;
@accent-font-color: #555555;
@striking-color: #b40404;

@font-size: 16px;
@font-light: 200;
@font-normal: 400;
@font-bold: 700;

@main-menu-width: 30em;
@large-main-menu-width: 16em;
@m-m-large-main-menu-width: 7em;

//screenSchema.js의 값과 동일하도록 설정 ////
//@smallest-screen: 320px;
@small-screen: 400px;
@small-m-screen: 500px;
@s-medium-screen: 600px;
@medium-screen: 800px;
@m-m-large-screen: 960px;
@large-screen: 1300px;
