/*--- index --------------------------------------------
.attachments
	.attachments__list
		.attachments__menu
		.attachments__menu .select
--------------------------------------------------------*/

.attachments {
	margin: 5% 0;
	& > h1 {
		color: @main-color;
		font-weight: @font-normal;
		text-align: center;
		margin: 0;
	}
	& > h1 + .attachments__list {
		margin-top: 5%;
	}
	.attachments__list + .pagination {
		margin-top: 5%;
	}
}

.attachments__list {
	min-width: 41em;
	margin-left: auto; margin-right: auto;
	td {
		padding-top: 0.7em; padding-bottom: 0.7em;
	}
	.table-margin, .table-padding {
		width: 1em;
		border-bottom: 0 !important;
	}
	.table-margin {
		background-color: transparent !important;
	}
	tr:not(.attachments__menu) td {
		background-color: @minor-color-2;
		border-bottom: solid 1px lighten(@font-color, 30%);
	}
	tr.attachments__head td {
		padding: 1em 0.5em;
		border-bottom: solid 1px  @font-color;
		text-align: center;
	}
	tr:last-child td {
		border-bottom-color: transparent;
	}
	.attachments__filename {
		padding-left: 1em;
	}
	.attachments__filename a {
		color: @main-color
	}
	.attachments__filename span + a {
		margin-left: 0.5em;
	}
	.attachments__filename a:first-of-type i {
		font-size: 1.5em;
	}
	.attachments__filename a:last-of-type {
		display: inline-block;
		font-size: 0.8em;
		padding: 0.2em;
		margin-left: 0.5em;
		background-color: transparent;
		color: @main-color;
		border: solid 1px @main-color;
		cursor: pointer;
	}
	.attachments__upload {
		text-align: center;
	}
	.attachments__upload label {
		display: inline-block;
		width: 2em;
		color: @main-color;
		cursor: pointer;
	}
	.attachments__upload label i {
		font-size: 1.5em;
	}
	.attachments__toggle {
		position: relative;
		text-align: center;
		cursor: pointer;
	}
	.attachments__toggle span:first-child {
		position: relative;
		top: -0.3em;
	}
	.attachments__toggle span + span {
		position: absolute;
		bottom: 0.5em; left: 0;
		display: block;
		width: 100%;
		text-align: center;
		font-size: 0.7em;
	}
	.attachments__toggle i {
		font-size: 1.5em;
	}
	.attachments__toggle--off {
		&, & + span {color: lighten(@font-color, 30%);}
	}
	.attachments__toggle--on {
		color: @main-color;
	}
}

.attachments__menu {
	td {
		padding: 0 0 1em 0;
	}
	td > div {
		height: 2em;
	}
	.attachments__keyword, .attachments__search {
		height: 100%;
	}
	.attachments__keyword {
		width: 13em;
		border-right-width: 0;
		border-left-width: 0;
	}
	.attachments__search {
		display: inline-block;
		vertical-align: bottom;
		padding: 0 1em;
		color: @minor-color-2;
		background-color: @main-color;
		&:focus {
			background-color: @focus-color-2;
		}
		line-height: 2em;
	}
	//.check ////
	.check {
		display: inline-block;
		line-height: 2em;
		margin-left: 1em;
	}
	.check .item + .item {
		margin-left: 0.5em;
	}
	.item__checkicon, .item__uncheckicon {
		width: 1.5em;
		text-align: center;
		i {font-size: 1.5em;}
	}
	.item__checkicon {
		color: @main-color;
	}
}
.attachments__menu .select {
	height: 100%;
	vertical-align: bottom;
	.dropdown__headwrap, .dropdown__head, .ddhead {
		height: 100%;
	}
	.ddhead {
		line-height: 2em;
	}
	.dropdown__headwrap, .dropdown__items {
		border-color: @main-color;
		background-color: @minor-color-2;
	}
	&.dropdown--unfolded .dropdown__items {
		top: -1px;
	}
	.dropdown__head:focus {
		background-color: @focus-color-1
	}
	.ddarrow i {
		font-size: 1.5em;
		color: @main-color;
		font-weight: bold;
	}
	.ddhead, .item {
		text-align: left;
		padding-right: 2em;
	}
	.item {
		line-height: 2em;
		cursor: pointer;
		&:focus {background-color: @focus-color-1}
	}
}
