@import 'variables';

.users {
	width: 100%;
	max-width: 40em;
	margin: 5% auto;
	h1 {
		color: @main-color;
		font-weight: @font-normal;
		text-align: center;
	}
	.users__list-wrap {
		padding: 1.5em;
		background-color: @minor-color-2;
	}
	table {
		width: 100%;
	}
	table tr {
		border-bottom: dotted 1px @main-color;
	}
	table tr:first-child {
		border-bottom-style: solid;
	}
	table th {
		font-weight: @font-normal;
		padding-bottom: 0.7em;
	}
	table td {
		padding: 0.7em 0.5em;
	}
	.users__list-wrap + .pagination {
		margin-top: 1em;
	}
}
