@import 'variables';

.users {
	margin: 5% 0;

	h1 {
		color: @main-color;
		font-weight: @font-normal;
		text-align: center;
		margin: 0;
	}
	h1 + .users__list {
		margin-top: 5%;
	}
	.users__menu td {
		overflow: hidden;
		padding: 1em 0;
	}
	.users__menu td > div {
		height: 2em;
	}
	.users__menu td > div:first-child {
		float: left;
	}
	.users__menu td > div:last-child {
		float: right;
	}
	.users__keyword, .users__search, .users__add-user, .users__delete-user {
		height: 100%;
	}
	.users__keyword {
		width: 13em;
		border-right-width: 0;
	}
	.users__search {
		display: inline-block;
		padding: 0 1em;
		color: @minor-color-2;
		background-color: @main-color;
		&:focus {
			background-color: @focus-color-2;
		}
	}
	.users__add-user, .users__delete-user {
		height: 100%;
		padding: 0 0.5em;
		i + span {
			margin-left: 0.5em;
		}
	}
	.users__add-user {
		display: inline-block;
		vertical-align: middle;
		line-height: 2em;
		border: solid 1px @main-color;
		background-color: @minor-color-2;
		&:focus {
			background-color: @focus-color-1;
		}
	}
	.users__delete-user {
		color: @minor-color-2;
		background-color: @main-color;
		&:focus {
			background-color: @focus-color-2;
		}
	}
	.users__add-user + .users__delete-user {
		margin-left: 0.5em;
	}
	.users__menu td > div i {
		font-size: 1.5em;
	}
	.users__list {
		margin-left: auto; margin-right: auto;
	}
	.users__list a {
		color: @main-color;
	}
	.users__list tr:not(.users__menu) td {
		padding: 0.7em 0.5em;
		background-color: @minor-color-2;
		border-bottom: dotted 1px @main-color;
	}
	.users__list tr:not(.users__menu) td:first-child,
	.users__list tr:not(.users__menu) td:last-child {
		border-bottom: 0;
		width: 1.5em;
	}
	.users__list tr.users__head td {
		padding-top: 1.5em;
		text-align: center;
		border-bottom: solid 1px @main-color;
	}
	.users__list tr:last-child td {
		border-bottom-width: 0;
		padding-bottom: 1.5em;
	}
	.users__list .users__edit i {
		font-size: 1.5em;
	}
	.users__list + .pagination {
		margin-top: 5%;
	}
}
